.privacy-policy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-700);
}
.privacy-policy-code-embed {
  width: 800px;
  padding-top: 50px;
}
@media(max-width: 1600px) {
  .privacy-policy-code-embed {
    width: 80%;
  }
}
