.footer-footer {
  gap: var(--dl-space-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  background-color: #000000;
}
.footer-heading {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-text {
  font-size: 30px;
  font-family: Poppins;
  line-height: 30px;
}
.footer-link {
  font-size: 30px;
  text-decoration: none;
}
.footer-text1 {
  color: #C4C4C4;
  width: 100%;
  font-size: 30px;
  max-width: 100%;
  line-height: 21px;
}
@media(max-width: 1600px) {
  .footer-heading {
    max-width: 100%;
  }
  .footer-text {
    font-size: 30px;
  }
  .footer-link {
    font-size: 30px;
  }
  .footer-text1 {
    font-size: 30px;
    max-width: 100%;
    align-self: flex-start;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
}
@media(max-width: 767px) {
  .footer-footer {
    gap: var(--dl-space-space-twounits);
  }
  .footer-heading {
    gap: var(--dl-space-space-halfunit);
  }
  .footer-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media(max-width: 479px) {
  .footer-text {
    font-size: 14px;
  }
  .footer-link {
    font-size: 14px;
  }
  .footer-text1 {
    font-size: 14px;
  }
}
