.navbar-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-top: 12px;
  border-radius: 6px;
  flex-direction: row;
  padding-bottom: 12px;
  justify-content: flex-start;
}
.navbar-link {
  font-size: 36px;
  font-style: normal;
  font-family: Merriweather;
  font-weight: 900;
}
.navbar-link1 {
  font-size: 12px;
  align-self: stretch;
  font-style: normal;
  font-family: Merriweather;
  font-weight: 400;
}
.navbar-root-class-name {
  align-self: flex-start;
}

@media(max-width: 1600px) {
  .navbar-navbar {
    max-width: 100%;
  }
  .navbar-links {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .navbar-link1 {
    align-self: flex-start;
  }
}
@media(max-width: 991px) {
  .navbar-navbar {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .navbar-navbar {
    align-items: center;
  }
  .navbar-links {
    display: flex;
  }
}
@media(max-width: 479px) {
  .navbar-links {
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .navbar-link {
    font-size: 36;
    font-style: normal;
    font-family: Merriweather;
    font-weight: 900;
  }
  .navbar-link1 {
    display: none;
  }
}
